.collapse-processed > legend > .fieldset-legend {
  background: url(../../../../misc/menu-expanded.png) 0px 50% no-repeat; /* LTR */
  content:"hide";
  float: left;
}

.collapsed > legend > .fieldset-legend
{
    background: url(../../../../misc/menu-collapsed.png) 0px 50% no-repeat; /* LTR */
    float: left;
}

.fieldset-title
{
    padding-left:12px;
}
.fieldset-legend
{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  border-left: 20px solid #19b697;
  border-right: 1px solid #1abc9c;
  border-top: 1px solid #1abc9c;
  border-bottom: 1px solid #1abc9c;
  margin-bottom: 15px;
}
form
{
    background-color:#FFF;
    padding:10px;
    border:1px solid #CCC;
}
form hr, form legend
{
    border-bottom: 3px solid #b4d6c9 !important;
}

.fieldset-title
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color:#555;
}
.fieldset-description
{
    color:#777;
}
#edit-othertarget,#edit-advanced
{
    padding-bottom:40px;
}

h2
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color:#555;
}

.form-type-textfield>label {
    display:block;
}

.fieldset-wrapper, .form-type-checkboxes{
    background-color: #FFF;
    padding: 10px;
    /*border: 1px solid #CCC;*/
}

.fieldset-wrapper {
    margin-bottom: 10px;
}

input[type="text"], input[type="submit"], input[type="button"]{
    margin-bottom:10px;
}

fieldset.collapsed {
    margin-bottom: 40px;
}

table {
  border: 1px solid #b5e0ba;
  background: #ffffff;
  width: 100%;
}
thead th {
  background: #ffffff;
  border-top: 0px solid #000000 !important;
  padding: 10px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody tr td {
  padding: 3px;
  border-top: 1px solid #dedede;
}
th > div.form-type-select > .ajax-progress {
  display: none;
}

#gttn_profile_table_display,
.gttn_profile_table {
  background: #ffffff;
  border: 1px solid #b5e0ba;
  border-radius: 4px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
#gttn_profile_table_display td {
  padding: 10px;
}
